/**************** TAG SELECTORS ****************/
body {
    background-color: #DEFCF9;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

hr {
    border-color: gray;
    border-style: dotted none none none;
    border-width: 7px;
    width: 7%;
}

/**************** CLASS SELECTORS ****************/

.profile {
    border-radius: 20%;
}

/**************** ID SELECTORS ****************/
